html,body
{
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	background-image: url("computers.png");
	color: white;

}
hr
{
	color: #ffffff;
}
#container{
	height: 100%;
	margin: 0 auto;
	width: 80%;
}

header
{
	height: 25%;
	background-color:rgba(191, 191,191 ,0.9);
	display: flex;
	font-size: 200%;
	border-top: solid white 1px; 

}
.nom
{
	flex: 1;
	text-align: center;
}
.droite hr
{
 width: 50%;
}
.gauche 
{

}
#information
{
	display: flex;
	justify-content: space-around;
	height: 10%;
	background-color:rgba(166, 166, 166,0.9);
	border-top: solid white 1px; 
}

.tel
{
  flex: 1;
  text-align: center;
}

#moi
{
	height: 20%;
	background-color: rgba(140, 140, 140,0.9);
	display: flex;
	border-top: solid white 1px; 
}

.about
{
	flex: 1;
	text-align: center;
}
.about hr
{
	width: 50%;
}
.info
{
	flex: 3;
}

#experience
{
	flex: 1;
	background-color: rgba(115, 115, 115,0.9);
	display: flex;
	border-top: solid white 1px;

}

#skills
{
	flex: 1;
	background-color: rgba(89, 89, 89,0.9);
	display: flex;
	border-top: solid white 1px;
	border-bottom: solid white 1px;
	

}
#div
{
	height: 50%;
	display: flex;
	flex-direction: column;
}
.list
{
	flex: 1;
	text-align: center;

}
.list ul 
{
	list-style-type: none;
}

.point
{
	flex:2;
}
.point ul
{
 list-style-type: none;
}